// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#editor {
  width: 200px;
  height: 30px;
}

.markdown-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
